<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet">

<div class="content">
  <div class="name">
    <h1>Cainã Adrian</h1>
  </div>
  <div class="role">
    <p>Dev Java <span class="full">Pleno</span></p>
  </div>

  <div class="presentation">
      <div class="text-presentation">
        <p id="aboutMe">Programador Especialista em Microserviços com foco no desenvolvimento backend Java e Spring, dedicado a
          criação de aplicativos Web e soluções de problemas</p>
      </div>
      <div><button (click)="onClick()" class="contatoBtn">Contato</button></div>
  </div>

  <div class="aboutMe">
      <h1 class="aboutTitle">SOBRE MIM</h1>
      <div class="aboutText">
        <p>Com uma paixão por criar soluções inovadoras e eficientes através da programação, me dedico a
        escrever códigos meticulosamente elaborados, empregando uma combinação de lógica aguçada e criatividade. Imerso
        no universo Java, trago uma experiência sólida e robusta, complementada pelo conhecimento do ecossistema Spring
        e Microserviços.</p>

        <p>Possuo uma paixão por desenvolver soluções sofisticadas, mergulho de cabeça no dinâmico mundo do
          desenvolvimento de software e minha trajetória consiste em transformar ideias em código, forjar experiências de
          usuário excepcionais e impulsionar o valor ao negócio.</p>
      </div>
  </div>

  <div class="experience">
      <h1 class="expTitle">EXPERIÊNCIA</h1>
      <div class="job">
        <p class="function"><span class="company">Minsait /</span> Analista Desenvolvedor Jr <span class="date">FEV 2022
            - FEV 2024, SÃO PAULO</span></p>
      </div>
      <div class="description">
        <p>Durante minha trajetória profissional, integrei o time de sustentação do projeto SIGITM na empresa VIVO, um
          sistema crucial para o gerenciamento de tickets de Comunicação/TELECOM em todo o Brasil. Minhas
          responsabilidades incluíam análise detalhada, estimativa de esforço, desenvolvimento e implementação de
          melhorias e correções no sistema</p>
       <p>Minha especialização em Microserviços me permitiu dominar as melhores práticas e arquiteturas de sistemas
         distribuídos. Trabalhando com a plataforma Spring, tenho experiência com o desenvolvimento de APIs RESTful,
         implementação de autenticação e autorização, além de lidar com desafios relacionados à escalabilidade e
         segurança.</p>
      </div>
      <div class="expButtons">
        <div class="skills"><div class="skillAfter">Java</div></div>
        <div class="skills"><div class="skillAfter">Spring</div></div>
        <div class="skills"><div class="skillAfter">Mensageria</div></div>
        <div class="skills"><div class="skillAfter">Kafka</div></div>
        <div class="skills"><div class="skillAfter">RabbitMq</div></div>
        <div class="skills"><div class="skillAfter">SQL</div></div>
        <div class="skills"><div class="skillAfter">RestFull</div></div>
        <div class="skills"><div class="skillAfter">Fullstack</div></div>
      </div>

      <div class="projects">
        <h1 class="projTitle">PROJETOS</h1>
        <div class="grid-container">
          <div class="column">
            <button (click)="dsCatalog()" class="project-button">DsCatalog</button>
            <div class="text-container">
              <p class="descrip-exp">Sistema de Catálogo de produtos com categorias.</p>
            </div>
          </div>
          <div class="column">
            <button (click)="eadCourse()" class="project-button">Ead-Course</button>
            <div class="text-container">
              <p class="descrip-exp">Microserviço de Curso de uma plataforma EAD</p>
            </div>
          </div>
          <div class="column">
            <button (click)="eadNotification()" class="project-button">Ead-Notification</button>
            <div class="text-container">
              <p class="descrip-exp">Microserviço responsavel pelo envio de Notificações em plataforma EAD</p>
            </div>
          </div>
          <div class="column">
            <button (click)="eadAuthUser()" class="project-button">Ead-AuthUser</button>
            <div class="text-container">
              <p class="descrip-exp">Microserviço de autenticação e autorização</p>
            </div>
          </div>
          <div class="column">
            <button (click)="servRegistry()" class="project-button">Service Registry</button>
            <div class="text-container">
              <p class="descrip-exp">Serviço de registro e monitoração dos microserviços utilizando Spring Cloud Netflix Eureka</p>
            </div>
          </div>
          <div class="column">
            <button (click)="configServer()" class="project-button">Config Server</button>
            <div class="text-container">
              <p class="descrip-exp">Servidor de configuração que centraliza e gerencia configurações da arquitetura</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


