.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  color: white;
}

.role {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: -80px;
  color: #C9C9C9;
  font-size: 23px;
}

.full {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  background: linear-gradient(to right, #9C83FF, #FF9051);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation, text-presentation {
  width: 700px;
  height: 40px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: medium;
  font-size: 16px;
  text-align: center;
  color: #E1E1E1;
  flex-direction: column;
}

.contatoBtn {
  border-radius: 75px;
  width: 186px;
  height: 55px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border-color: #E1E1E1;
  border-width: 1px;
  right: 93px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}

.contatoBtn:hover {
  background-color: white;
  color: black;
  font-weight: 500;
} 

.aboutMe {
  width: 706px;
  height: 238px;
  margin-top: 150px;
}

.aboutTitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.aboutText {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #E1E1E1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.experience {
  width: 703px;
  height: 321px;
  margin-top: 100px;
}

.expTitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.job {
  width: 703px;
  height: 21px;
  margin-top: 30px;
}

.company {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.function {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: white;
}

.date {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  margin-top: -13px;
  color: #E1E1E1;
}

.description {
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  color: #E1E1E1;
}

.expButtons {
  width: 700px;
  height: 25px;
  display: flex;
}

.skills {
  background: linear-gradient(to right, #9C83FF, #FF9051);
  width: 78px;
  height: 25px;
  border-radius: 10px;
  border: none;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  display: inline-block;
}

.skillAfter {
  width: 69px;
  height: 17px;
  padding: 3px;
  margin-top: 1px;
  margin-left: 1px;
  background: #000;
  border-radius: 10px;
  color: #E1E1E1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 11px;
}

.projects {
  width: 700px;
  height: 286px;
  margin-top: 100px;
}

.projTitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto; 
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
}

.column {
  position: relative;
  padding: 20px;
  height: 50px;
}

.project-button {
  position: absolute;
  width: 110px;
  height: calc(100% - 10px);
  left: 0px;
  top: 5px;
  border-radius: 7px;
  border-color: #E1E1E1;
  border-width: 1px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-weight: 500;
}

.project-button:hover {
  background-color: white;
  color: black;
  font-weight: 700;
} 

.text-container {
  width: 200px;
  height: calc(100% - 10px);
  position: absolute;
  left: 120px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descrip-exp {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  color: white;
}

@media screen and (max-width: 600px) {
    .name {
      font-size: 25px;
    }

    .role {
      font-size: 20px;
    }

    .presentation {
      max-width: 400px;
      width: 100%;
    }

    .aboutMe {
      max-width: 400px;
      width: 100%;
    }

    .experience {
      max-width: 400px;
      width: 100%;
      top: 20px;
      
    }

    .expTitle {
      margin-top: 60px;
    }

    .expButtons {
      max-width: 400px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    
    .projects {
      max-width: 400px;
      width: 100%;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr; 
    }
}
