<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div class="container">
        <img ngSrc="./assets/background.png" priority width="1264.98" height="1964.98" class="background-image"/>
        <div class="nav-bar">
            <img ngSrc="./assets/logo.png" width="90" height="50"/>
            <app-nav-bar></app-nav-bar>
        </div>
 
        <div class="me">
           <img ngSrc="./assets/me.png" width="850" height="450" sizes="100" class="meImage"/>
        </div>
        <div class="content">
          <app-content></app-content>
        </div>
    </div>
</body>
</html>
