<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div class="container">
        <img ngSrc="./assets/background.png" priority width="1264.98" height="1964.98" class="background-image"/>
        <div class="nav-bar">
            <img ngSrc="./assets/cainaAdrian.png" width="90" height="50" class="logoName"/>
            <!-- <p class="poppins-semibold">Cainã</p> -->
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</body>
</html>
