body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1265px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding-bottom: 150px;
}

.background-image {
    margin-top: 30px;
    margin-bottom: auto;
    object-fit: cover;
    width: 100%;
    max-width: 1265px;
    height: auto;
}

.nav-bar {
    display: flex;
    max-width: 1168px;
    width: 100%;
    position: absolute; 
    top: 20px;
}

.me {
    position: absolute;
    top: 180px;
    border-radius: 50%;
    background-color: #1A1A1A;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.meImage {
    margin-right: -20px;
    margin-top: 55px;
    object-fit: contain;
    flex-direction: column;
}

.content {
    width: 505px;
    height: 115px;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 480px;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 410px;
        width: 100%;
        height: 270vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .nav-bar {
        width: 100%;
    }

    .content {
        max-width: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}