.sobreMimBtn{
    border-radius: 8.8px;
    width: 90px;
    height: 35px;
    margin-top: 3px;
    background-color: black;
    color: white;
    border-color: #E1E1E1;
    border-width: 1px;
    position: absolute;
    right: 93px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
}

.contatoBtn{
    border-radius: 8.8px;
    width: 90px;
    height: 35px;
    margin-top: 3px;
    background-color: white;
    color: black;
    border-color: #E1E1E1;
    border-width: 1px;
    position: absolute;
    right: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}